<h1><%= @department.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Depts', department_topics_path(@edit_department_path) %>
<br />
<%= link_to 'Edit Depts', edit_department_path(@department) %>
<br />
<%= link_to 'Delete Depts', @department, method: :delete %>